<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}" />
    {% csrf_token %}
    <script>
      var Score = 0;
      const handleClick = (row, col) => {
        let tile = document.getElementById(`${row}${col}`);
        if (tile.style.backgroundColor === "black") {
          tile.style.backgroundColor = "white";
          Score += 5;
          document.getElementById("GameScore").innerHTML = `Score : ${Score}`;
        } else {
          clearInterval(interval);
          document.getElementById("Board").style.opacity = "0.3";
          document.getElementById("Over").style.display = "block";
          var csrfToken =
            document.cookie.split("=")[
              document.cookie.split("=").indexOf("csrftoken") + 1
            ];
          console.log(csrfToken);
          console.log("{{ user.is_authenticated }}");
          if ("{{ user.is_authenticated }}") {
            fetch("{% url 'score' %}", {
              method: "POST",
              headers: {
                "X-CSRFToken": csrfToken,
              },
              body: JSON.stringify({ Score: Score, username: "{{ user }}" }),
            }).then((res) => console.log("response"));
          }
          // document.getElementById("score").innerHTML = `Score : ${Score}`;
        }
      };

      const interval = setInterval(() => {
        var row = Math.floor(Math.random() * 4) + 1;
        var col = Math.floor(Math.random() * 4) + 1;
        document.getElementById(`${row}${col}`).style.backgroundColor = "black";
      }, 500);
    </script>
  </head>
  <body>
    <div
      class="vw100 vh100 Flex"
      style="
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
      "
    >
      <div class="GameScore">
        <h1
          id="GameScore"
          style="display: flex; align-items: center; justify-content: center"
        >
          Score : 0
        </h1>
      </div>
      <div class="GameBoard" id="Board">
        {% for row in '1234' %} {% for col in '1234' %}
        <div
          class="Tile"
          onclick='handleClick("{{ row }}","{{ col }}")'
          id="{{ row }}{{ col }}"
        ></div>
        {% endfor %} {% endfor %} {% for Tile in Tiles %}
        <script>
          console.log("{{ Tile.TileNo }}");
        </script>
        {% endfor %}
      </div>
      <div
        class="GameEnded GameBoard Flex"
        id="Over"
        style="
          background-color: white;
          display: none;
          position: absolute;
          top: 100px;
        "
      >
        <h1
          style="
            height: 430px;
            width: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0;
          "
        >
          <p style="margin: 0 0">Game Over</p>
          <!-- <p id="score"></p> -->
          <a href="{% url 'home' %}" class="NewGameButton" style="margin-bottom: 5px;">Home</a>
          <a href="{% url 'startGame' %}" class="NewGameButton">New Game</a>
        </h1>
      </div>
    </div>
  </body>
</html>
