<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Scores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}" />
</head>
<body>
    <div class="SignupOuter">
        <h1>{{ user.username }}'s Prevoius Scores</h1>
        <div id="demo" class="table"></div>
        <div class="HighestScore">Highest Score : {{ highest }}</div>
        <a href="{% url 'startGame' %}" class="NewGameButton" style="width: 50%;box-sizing: border-box;text-align: center;">New Game</a>
        <a href="{% url 'home' %}" class="NewGameButton" style="margin-top: 10px;width: 50%;box-sizing: border-box;text-align: center;">Home</a>

    </div>
    <script>
        var response = Array({{ dates|safe }})
        var responsescores = Array({{  scores }})
        var tag = document.getElementById('demo')
        var pattern = '<div class="tr bgblack"><div class="td1">Date</div><div class="td2">Score</div></div>'
        console.log(response);
        console.log(responsescores);
        for (let i=0 ; i<response[0].length ; i++){

            pattern +=`<div class='tr'><div class='td1'>${response[0][i]}</div><div class='td2'>${responsescores[0][i]}</div></div>`
        }
        console.log(pattern);
        tag.innerHTML = pattern
    </script>
</body>
</html>