<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}" />
  </head>
  <body>
    <div class="SignupOuter">
      {% if error %}
      <div class="ErrorDiv">
        <p>{{ error }}</p>
      </div>
      {% endif %}
      <div class="Form">
        <h1 style="text-align: center;">Login</h1>
        <form action="{% url 'login' %}" method="post" class="SignUpForm">
          {% csrf_token %}
          <div class="username">
            <input type="text" name="username" class="" placeholder="Enter Username"/>
          </div>
          <div class="password">
            <input type="text" name="password" placeholder="password"/>
          </div>
          <button type="submit" class="buttonSubmit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
